<div
  [ngClass]="{'sidenav-container': true,
    'nav-opened': isOpen === true,
    'nav-position-right': position === 'right' }"
>
  <div [ngClass]="'icon-groups'">
    <div
      [ngClass]="'icons'"
      (click)="onToggle()"
    >
      <mat-icon
        aria-hidden="false"
        aria-label=""
      >
        home
      </mat-icon>
      <span [ngClass]="'expanded-label'">Home</span>
    </div>
    <div [ngClass]="'icons'">
      <mat-icon
        aria-hidden="false"
        aria-label=""
      >
        list
      </mat-icon>
      <span [ngClass]="'expanded-label'">Browse</span>
    </div>
    <div [ngClass]="'icons'">
      <mat-icon
        aria-hidden="false"
        aria-label=""
      >
        favorite_border
      </mat-icon>
      <span [ngClass]="'expanded-label'">Favorites</span>
    </div>
    <div [ngClass]="'icons'">
      <mat-icon
        aria-hidden="false"
        aria-label=""
      >
        calendar_today
      </mat-icon>
      <span [ngClass]="'expanded-label'">Calendar</span>
    </div>
    <div [ngClass]="'icons'">
      <mat-icon
        aria-hidden="false"
        aria-label=""
      >
        settings
      </mat-icon>
      <span [ngClass]="'expanded-label'">Settings</span>
    </div>
    <div [ngClass]="'icons'">
      <mat-icon
        aria-hidden="false"
        aria-label=""
      >
        feedback
      </mat-icon>
      <span [ngClass]="'expanded-label'">Feedback</span>
    </div>
  </div>
  <div [ngClass]="'user-profile'">User profile</div>
</div>
