.sidenav-container {
  width: 70px;
  height: 100%;
  padding: 50px 10px 10px 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  transition: width 1s;

  .icon-groups {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    >div {
      margin-bottom: 30px;
    }
  }

  .expanded-label {
    display: none;
  }

  &.nav-opened {
    width: 150px;
    position: fixed;
    z-index: 100;
    left: 0;

    .expanded-label {
      display: block;
    }
  }

  &.nav-position-right {
    position: fixed;
    z-index: 100;
    right: 0;
  }
  
  .icons {
    cursor: pointer;

    &:hover {
      color: plum;
    }
  }
}
